# exclude everything except directory foo/bar
# ignore all
*
# Except folders
!1ra/
!1ra/components/
!my-app/
!my-app/src/
!my-app/src/app/
!my-app/src/app/common/
!my-app/src/app/components/
!my-app/src/assets/
!my-app/src/environments/
!my-app/src/app/data/
!my-app/src/app/services/

# except files
!.gitignore
!package.json
!examples.txt
!*.js
!*.json
!*.ts
!*.html
!*.css
